.App {
  text-align: center;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

body {
  background: #ADA996;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  /*background-image: url('./images/drake.png'); */
  /* background-size: cover; */
  min-height: 1200px;
  position: relative;
 
}

.linkToHomepage {
  position: fixed;
  top: 0%;
  left: 0%;
  background-image: url('./images/homeButton.png');
  height: 173px;
  width: 160 px;

}

.homepageButton {
  background-color: transparent;
  background-size: cover;
  height: 173px;
  width: 160 px;
  border: none;

}

button {
  font-size: 16px;
}

.itemInList {
  /* margin: 100 px; */
  /* padding: 100px; // within the box */
  border: 3px solid darkorange;
  color: palegoldenrod;
  width: 250px;
  height: 250px;
}

.holdingItems {
  /* padding: 100px; */
  margin: 100px;
  display: flex;
  justify-content: space-evenly;
  
}

.itemInList:hover{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);

}

.history {
  text-align: center;
  display: flex;
  flex-direction: row;
  position: absolute;
  margin-top: 200px;
  /* top: 50%;  
  left: 0%;
 justify-content: space-between;
  background-color: transparent; */
}

a {
  color: white;
}

.musicVideo {
  margin-top: 100px;
  position: relative;
    overflow: hidden;
}


.itemInListLink{
  position: relative;
  top: 200px;
}

.boughtHistory {
  position: fixed;
  top: 20%;
  left: 50%;
  list-style-image: url('./images/listIcon.png')
}

.soldHistory {
  position: fixed;
  top: 70%;
  left: 50%;
  list-style-image: url('./images/listIcon.png')
}

.navbarcolor{
  background-color: darkred !important;
}

footer.page-footer{
  /* margin-top:px !important;
  position:fixed;*/
  width: 100vw; 
    position: absolute;
}

.footer-top {
  height: 40px !important;
}