.App {
  text-align: center;
  font-family: "Arial Black", Gadget, sans-serif;
}

body {
  background-image: url('./images/background.png')
}

.linkToHomepage {
  position: fixed;
  
}

button {
  
  font-size: 16px;
<<<<<<< HEAD
=======
}

.itemInList {
  /* margin: 100 px; */
  /* padding: 100px; // within the box */
  border: 3px solid darkorange;
  color: palegoldenrod 
}

.holdingItems {
  /* padding: 100px; */
  margin: 100px;
}

.itemInList:hover{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);

>>>>>>> 970d5e4059544a474d6c44860c4efeba067b9c63
}