.App {
  text-align: center;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

body {
  background-image: url('./images/drake.png');
  /* background-size: cover; */
 
}

.linkToHomepage {
  position: fixed;
  top: 0%;
  left: 0%;
  background-image: url('./images/homeButton.png');
  height: 173px;
  width: 160 px;

}

.homepageButton {
  background-color: transparent;
  background-size: cover;
  height: 173px;
  width: 160 px;
  border: none;

}

button {
  font-size: 16px;
}

.itemInList {
  /* margin: 100 px; */
  /* padding: 100px; // within the box */
  border: 3px solid darkorange;
  color: palegoldenrod;
  width: 250px;
  height: 250px;
}

.holdingItems {
  /* padding: 100px; */
  margin: 100px;
  display: flex;
  justify-content: space-evenly;
  
}

.itemInList:hover{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);

}

.history {
  text-align: left;
  display:flex;
  flex-direction: column;
  position: absolute;
  top: 50%;  
  left: 0%;
 justify-content: space-between;
  background-color: transparent;
}

a:visited {
  color: pink;
}

.musicVideo {
  margin-top: 100px;
}


.itemInListLink{
  position: relative;
  top: 200px;
}

.boughtHistory {
  position: fixed;
  top: 20%;
  left: 50%;
  list-style-image: url('./images/listIcon.png')
}

.soldHistory {
  position: fixed;
  top: 70%;
  left: 50%;
  list-style-image: url('./images/listIcon.png')
}